@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
:root{
  --foregr: #f3f4f6;
  --backgr: #1f2937;
}
html{
  @apply bg-gray-800;
  color: var(--backgr);
}
.foregr{

  }
h1{
  @apply text-4xl font-bold;
}
h2{
  @apply text-3xl font-bold;
}
h3{
  @apply text-2xl font-bold;
}
p{
  @apply text-xl;
}

}

@layer components{

}
